.dice{
	height: 50vh;
	width: 95%;
	margin-top: 5%;
	position: relative;
	background-image: url("../image/tapisDeCartes.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#dice1.dice1{
	height: 25%;
	width: 10%;
	position : absolute;
	animation : throwDice 2s 1;
	animation-fill-mode: forwards;
}

#dice2.dice2{
	height: 25%;
	width: 10%;
	position : absolute;
	animation : throwDice 2s 1;
	animation-fill-mode: forwards;
}

#dice3.dice3{
	height: 25%;
	width: 10%;
	position : absolute;
	animation : throwDice 2s 1;
	animation-fill-mode: forwards;
}

#dice1.dice1 img{
	height: 100%;
	width: 100%;
	position : relative;
	animation : rollsDice 2s 1;
}

#dice2.dice2 img{
	height: 100%;
	width: 100%;
	position : relative;
	animation : rollsDice 2s 1;
}

#dice3.dice3 img{
	height: 100%;
	width: 100%;
	position : relative;
	animation : rollsDice 2s 1;
}

.event{
	text-align: center;
}

#playerTurn.playerTurn {
	font-size: 10vh;
	color: white;
	text-align: center;
}

.event{
	color: white;
}

table{
	color: white
}

.col.l8.offset-l1{
	padding: 0;
}

.information{
	min-height: 15%;
}

/*@keyframes throwDice{
	from {left: 0px;}
 	to {left: 30vh;}
}*/

/*@keyframes rollsDice{
	0%{background-image: url("../image/face1.png");}
	15%{background-image: url("../image/face2.png");}
	30%{background-image: url("../image/face3.png");}
	45%{background-image: url("../image/face4.png");}
	70%{background-image: url("../image/face5.png");}
	100%{background-image: url("../image/face6.png");}
}*/